CLIENT_GATEWAY_PORT = 3000
PAYMENTS_MS_PORT = 3003

STRIPE_SECRET=sk_test_51SBNv6B4eLEJIyqT6dGjeY20JmGkXFqHvq5NZmfqTUAxEOzcS1kijMLB59pRLeuymv7N9XslVcBJn0oPo2EHIlX200UI9NONKz
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancelled
#https://docs.stripe.com
STRIPE_ENDPOINT_SECRET=whsec_FsESb3NGYDVC0sxk5EedBkXhCzuLZH7p

AUTH_DATABASE_URL=mongodb+srv://judamo:judamo@cluster0.pj7ylfa.mongodb.net/AuthDB
JWT_SECRET=AlgoCucu

ORDERS_DATABASE_URL=postgresql://neondb_owner:npg_8XEQMO2isHum@ep-solitary-star-adnvvg96-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require